/* styles/CartAddedModal.module.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    position: relative;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .cartIcon {
    fill: none;
    stroke: var(--light-gold);
    stroke-width: 2;
  }
  
  .overlay h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .overlay p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .proceedButton {
    background-color: var(--light-gold);
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .proceedButton:hover {
    background-color: var(--gold);
  }
  