.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  width: 100%;
  margin: 240px auto 0;
  gap: 0.1rem;
}
.load {
  width: auto;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0 auto;
  color: #fff;
  margin-top: 1.3rem;
  border-radius: 40px;
  font-size: 14px;
  cursor: pointer;
}
/* components/lists/styles.module.css */
.noRecords {
  max-width: 1200px;
  margin: 240px auto 0;
  width: 100%;
  text-align: center;
  padding: 50px;
  font-size: 0.8rem;
  color: #555;

  border-radius: 8px;
}
.noRecords span{
  font-size: 1rem;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    margin-top: 280px;
  }
  .noRecords{
    padding: 0 25px;
    margin-top: 300px;
  }
}
