.wrapper {
  position: relative;
  max-width: 260px;
  margin: 1rem auto;
  overflow: hidden;
  cursor: pointer;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.imagesWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.item {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 250px !important;
}

.item:hover .nextImage {
  display: block;
}

.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0 10px;
}

.prevImage,
.nextImage {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.shiftRight {
  justify-content: flex-end;
}

.dots {
  display: flex;
  justify-content: center;

  position: absolute;
  z-index: 2;
  bottom: 10px;
  gap: 3px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot:hover {
  background-color: #bbb;
}

.activeDot {
  background-color: #ddd;
}

.arrow {
  font-size: 30px;
  cursor: pointer;
  color: #333;
}

.arrow:hover {
  color: #555;
}

.imgSlider {
  border-radius: 15px;
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}
.TopNote,
.shortCut {
  position: absolute;
}
.TopNote {
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 5px 1.5rem;
  font-size: 12px;
  border-radius: 50px;
  cursor: pointer;
}
.shortCut {
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shortCut div {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.content {
  margin-top: 0.6rem;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.new {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}
.body {
  color: #8b8b8b;
}
.faint {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 12px;
}
.dark {
  color: #000;
  font-size: 13px;
  position: relative;
}
.dark small {
  color: #8b8b8b;
  position: absolute;
  margin-left: 7px;
  text-decoration: line-through;
  font-size: 12px;
}

.skeletonItem {
  height: 100%;
  width: 100%;
}
@media (max-width: 750px) {
  .wrapper {
    max-width: 100%;
  }
}
