@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gold: #9c7617;
  --light-gold: #ecc531;
  --bright-gold: #edc531;
  --brightest-gold: #fbe595;
  --black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-align: justify; /* Corrected from text-wrap */
  }
}

/* Example for using custom CSS variables in Tailwind */
.text-custom-foreground {
  color: rgb(var(--foreground-rgb)); /* Use custom CSS variable */
}

.bg-custom-background {
  background: rgb(var(--background-start-rgb)); /* Custom background */
}
