@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gold: #9c7617;
  --light-gold: #ecc531;
  --bright-gold: #edc531;
  --brightest-gold: #fbe595;
  --black: #000000;

  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
body.dashboard {
  background-color: var(--bg);
  color: white;
}

@layer utilities {
  .text-balance {
    text-align: justify; /* Corrected from text-wrap */
  }
}

/* Example for using custom CSS variables in Tailwind */
.text-custom-foreground {
  color: rgb(var(--foreground-rgb)); /* Use custom CSS variable */
}

.bg-custom-background {
  background: rgb(var(--background-start-rgb)); /* Custom background */
}


.whatsapp-chat {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
}

.whatsapp-chat a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25D366; /* WhatsApp green */
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.whatsapp-chat a:hover {
  background-color: #128C7E; /* Darker WhatsApp green */
}
