.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.form input,
.form textarea,
.form select {
  padding: 10px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #2e374a;
  border-radius: 5px;
  width: 100% !important;
  font-size: 14px;
}
.form input:focus,
.form textarea:focus,
.form select:focus {
  outline: none;
}

.form input,
.form select {
  width: 45%;
}
.error {
  color: rgb(255, 170, 0);
  font-size: 14px;
}
.form textarea {
  width: 100%;
  resize: none;
}
.form div {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 30px;
}
.container button {
  width: 100%;
  padding: 10px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
  }
  .form div {
    margin-bottom: 4px;
  }
  .form input,
  .form select {
    width: 100%;
  }
  .form input,
  .form textarea,
  .form select {
    margin-bottom: 10px;
  }
}
