.container {
  max-width: 1200px;
  margin: 4rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.profile span:nth-child(1) {
  font-weight: bold;
}
.profile span:nth-child(2) {
  color: #9a9a9a;
  font-weight: 300;
  margin-top: -4px;
  font-size: 13px;
}
.sublist {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1.2rem 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.delete {
  background-color: rgb(251, 221, 221, 0.4);
  border-color: red;
  color: red;
}
.list div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.list span {
  font-size: 14px;
}
.list:hover {
  border-color: red;
  background-color: rgba(0, 0, 0, 0.02);
}

@media (max-width: 750px) {
  .sublist {
    width: 100%;
    padding: 1rem;
  }
}
